$background-image: url('../img/m-h-day.jpg');
$theme: #fff;
$button-color: #84be07;
$text-color: #c5c8d3;
$underscore-color: #1fabd1;
$bg-footer: #252735;
$text-logo: #252735;
$heading-color: #252735;
$bg-items: #252735;
$heading-font: 'Hind', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$banner-gradient: linear-gradient(80deg, #6e9c17, #2a5bd8);
