$background-image: url('../img/m-h-night.jpg');
$theme: #252735;
$button-color: #e3ac00;
$text-color: #fff;
$underscore-color: #f33e22;
$bg-footer: #252735;
$text-logo: #fff;
$heading-color: #fff;
$bg-items: #252735;
$heading-font: 'Hind', sans-serif;
$text-font: 'Fresca', sans-serif;
$banner-gradient: linear-gradient(80deg, #e2ad0d, #a73059);